*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bc-yellow: hsla(54, 92%, 60%, 1);
    --bc-purple: hsla(241, 41%, 49%, 1);
    --bc-blue: hsla(195, 100%, 55%, 1);
    --bc-white: hsla(0, 20%, 92%, 1);
    --bc-black: hsla(0, 0%, 37%, 1);

    font-size: 62.5%;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}
body{
    font-size: 1.6rem;
    font-family: Inter, sans-serif;
}
#page{
    margin: 0 auto;
    max-width: 1000px;
    padding: 2rem;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.active{
    color: black;
}
.active span{
    border: 0.2rem solid black;
    border-radius: 1rem;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* header */
header{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    animation: appear-from-above 1s ease forwards;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    >img{
        width: 8rem;
    }
}
#search-input{
    width: 10rem;
    padding: 0.5rem 1rem;
    background-color: var(--bc-white);

    border: none;
    border-radius: 1rem 0 0 1rem;

    color: var(--bc-black);
    outline: none; 
}
#search-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 2rem;

    background: url(./assets/cancel.svg);
    background-repeat: no-repeat;
    background-position: right;
}
.search-wrapper{
    display: flex;
    place-items: initial;
    height: 3rem;
}
.search-wrapper button{
    border: none;
    background-color: var(--bc-white);
    padding: 0.5rem;
    border-radius: 0 1rem 1rem 0;
    >img{
        width: 2rem;
    }
}
/* nav */
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;

    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    >li a{
        color: var(--bc-black);
        position: relative;
        padding-bottom: 0.5rem;
    }
}

/* main */
main{
    grid-area: content;

    display: flex;
    flex-direction: column;
    gap: 3rem;

    padding: 2.8rem 0;
}
/* section */
#banner::before{
    content: "";
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: clamp(20rem, 50vw, 40rem);
    height: clamp(15rem, 30vw, 20rem);
    background-color: var(--bc-yellow);
    border-radius: 1rem;
    z-index: -1;
    box-shadow: -6px 6px 22px 0px rgba(0, 0, 0, 0.25);
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--bc-purple);
    border-radius: 1rem;
    padding: 1rem 3.4rem 16rem 1.7rem;
    margin: 3rem 1.2rem 0 3rem;

    position: relative;
    
    color: #FFF;
    line-height: normal;

    box-shadow: -6px 6px 22px 0px rgba(0, 0, 0, 0.25);

    >div img{
        width: clamp(25rem, 50%, 45rem);
        z-index: 1;
        right: -1rem;
        bottom: 2rem;
        position: absolute;
        animation: appear-from-right 1s ease forwards;
    }
}
#banner .banner-title{
    >h2{
        font-size: clamp(1rem, 5vw, 3rem);
        font-weight: 400;
        >span{
            font-size: clamp(1rem, 5vw, 3rem);
            font-weight: 700;
        }
    }
    >p{
        font-size: 1.6rem;
        font-weight: 700;
    }
    
    animation: appear-from-above 1s ease forwards;
}

/* section */
#trending-games{
    animation: appear-from-below 1s ease forwards;
}
.trending-games-title{
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 3rem;

    >img{
        width: 1.5rem;
    }
    >h2{
        font-size: 2rem;
        font-weight: 700;
        color: var(--bc-black);
    }
}
.games{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.card-games{
    display: flex;
    flex-direction: column;

    >img{
        width: 30rem;
        height: 31rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 1rem;
    }
    >button{
        width: 80%;
        background-color: var(--bc-yellow);
        padding: 1rem;

        border: none;
        border-radius: 0 0 1rem 1rem;
        box-shadow: -6px 6px 22px 0px rgba(0, 0, 0, 0.25);

        font-size: clamp(1.5rem, 2vw, 1.8rem);
        font-weight: 600;
        text-align: left;
        color: black;

        align-self: flex-end;

        transition: all 0.5s;
    }
    >button:hover{
        color: #FFF;
        background-color: var(--bc-purple);
    }
}

/* footer */
.contact-ornament{
    background-color: var(--bc-purple);
    width: 100%;
    height: 5rem;
}
footer{
    background-color: var(--bc-white);
    position: relative;
    height: 17rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;

    color: var(--bc-purple);
}
.social-media-logos{
    display: flex;
    gap: 1rem;
}
.social-media-logos img{
    width: 2.9rem;
}

/* media queries */
@media (min-width: 710px){
    #banner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 3.4rem 8rem 1.7rem;

        >.banner-title{
            width: clamp(35rem, 10vw, 50rem);
        }
    }
    .games{
        display:grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}
@keyframes appear-from-right{
    from{
        filter: opacity(0);
        transform: translateX(30px);
    }
    to{
        filter: opacity(1);
        transform: translateX(0);
    }
}
@keyframes appear-from-below{
    from{
        filter: opacity(0);
        transform: translateY(30px);
    }
    to{
        filter: opacity(1);
        transform: translateY(0);
    }
}
@keyframes appear-from-above{
    from{
        filter: opacity(0);
        transform: translateY(-30px);
    }
    to{
        filter: opacity(1);
        transform: translateY(0);
    }
}